.shterm-container {
    display: flex;
    align-items: stretch;
}

.shterm-container * {
    box-sizing: border-box;
}

.shterm-screen {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;

    font-family: var(--shterm-main-font);
    font-size: var(--shterm-main-font-size);
    color: var(--shterm-fore-color);
    background-color: var(--shterm-back-color);
}

shterm-row {
    display: flex;
    align-items: center;
    height: var(--shterm-row-height);
}

shterm-row span {
    display: inline-flex;
    align-items: center;
    white-space: pre;
    overflow: hidden;
    user-select: none;
    
    height: var(--shterm-row-height);
}

.shterm-scrollbar {
    width: 7px;
    background-color: silver;
}