.shterm-container {
    display: flex;
}

.shterm-container * {
    box-sizing: border-box;
}

.shterm-main {
    position: relative;
    flex: 1 1 0px;
    overflow: hidden;
    max-height: 100%;
    
    font: var(--shterm-en-font);
    color: var(--shterm-fore-color);
    background-color: var(--shterm-back-color);
}

.shterm-scrollbar {
    width: 7px;
    background-color: silver;
}

.shterm-content {

}

.shterm-footer {

}

.shterm-caret {
    position: absolute;
    height: var(--shterm-row-height);
    width: var(--shterm-column-width);
    background-color: white;
    mix-blend-mode: difference;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.shterm-input {
    position: absolute;
    left: -99999px;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;    
    color: 'black';
    background-color: white;
    caret-color: transparent;
}

shterm-p {
    display: flex;
    align-items: center;
}

shterm-span {
    display: inline-flex;
    align-items: center;
    white-space: pre;
    overflow: hidden;
    user-select: none;
    
    height: var(--shterm-row-height);
    padding-left: calc(var(--shterm-span-letterspacing) / 2);
    letter-spacing: var(--shterm-span-letterspacing);
}
