body {
    position:fixed;
    margin: 0;
    inset: 0px;
      
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #shterm {
    height: calc(100% - 3em);
  }
  
  #cmdbar {
    margin-top: 1em;
    height: 2em;
  }
  